$body: rgb(246, 246, 249);
$white: #ffffff;
$disabled: #c5c9cf;

$primary-050: #f2f2f6;
$primary-100: #dfe0e9;
$primary-200: #a0a6bd;
$primary-300: #8389a9;
$primary-400: #4b5480;
$primary-500-base: #1c2964;
$primary-600: #17214e;
$primary-700: #151d42;
$primary-800: #121937;
$primary-900: #10152c;

$grey-050: #f7f9fc;
$grey-100: #eff3f8;
$grey-200: #dee5ee;
$grey-300: #c4cfdd;
$grey-400: #8999af;
$grey-500: #596980;
$grey-600: #3e4b5e;
$grey-700: #2d394b;
$grey-800: #1c2534;
$grey-900: #111725;

$danger-050: #fef0f0;
$danger-100: #fedede;
$danger-200: #fec3c3;
$danger-300: #fc9b9b;
$danger-400: #f76666;
$danger-500: #ed3c3c;
$danger-600: #d72222;
$danger-700: #b01a1a;
$danger-800: #8e1a1a;
$danger-900: #741b1b;